<div>


    <h2>{{Personaje.name}}</h2>

    <div class="div">
        <div>
            <img src="{{Personaje.image}}" alt="">
        </div>
        <div>

            <h6>Estado: {{Personaje.status}}</h6>
            <h6>Especie: {{Personaje.species}}</h6>
            <h6>Tipo de especie: {{Personaje.type}}</h6>
            <h6>Genero: {{Personaje.gender}}</h6>
            <h6>Origen: {{Personaje.origin.name}}</h6>
            <h6>Localización: {{Personaje.location.name}}</h6>
            <h6>Episodios:
                <span *ngFor="let item of Personaje.episode">

                    {{item | shortDomain}}

                </span>

            </h6>

        </div>
    </div>
</div>