<p>Favoritos</p>


<table id="tablarick">
    <thead>
        <tr>
            <th>No</th>
            <th>foto</th>
            <th>nombre</th>
            <th>estado</th>
            <th>especie</th>
            <th>última locación</th>
            <th>último episodio donde apareció.</th>
            <th>favorito</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let characte of character">

            <td> {{characte.id}} </td>
            <td> <img src="{{characte.image}}" alt=""> </td>
            <td (click)="detallespersonaje(characte.id)">{{characte.name}}</td>
            <td>{{characte.status}}</td>
            <td>{{characte.species}}</td>
            <td (click)="detallespersonajelocalizacion(characte.location.url)">{{characte.location.name}}
            </td>
            <td>
                <a href="{{characte.episode[characte.episode.length-1]}}" target="_blank"></a>
                {{characte.episode[characte.episode.length-1] | shortDomain}}


            </td>
            <td>
                <input [checked]="verificarfavorito(characte.id)" (click)="verificarfavorito(characte.id) ? eliminarfavorito(characte.id) : agregarfavorito(characte.id)" type="checkbox" name="" id="{{characte.id}}">
            </td>
        </tr>
    </tbody>
</table>