.paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        padding: 9px 16px;
    }
}

.centrarpage {
    text-align: center;
}

#tablarick {
    width: 100%;
    table-layout: fixed;
    td {
        text-align: center;
        img {
            width: 100%;
        }
    }
}