<h2>Mis favoritos</h2>


<div class="row">
    <div class="col-12 mt-4 containerpersonajes">
        <div *ngFor="let characte of character" class="containerpersonajesitem">
            <div class="card " style="width: 18rem;">
                <img src="{{characte.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <h2 (click)="detallespersonaje(characte.id)">{{characte.name}}</h2>
                        <h6><b>Estado:</b> {{characte.status}}</h6>
                        <h6><b>Especie</b> {{characte.species}}</h6>
                        <h6 (click)="detallespersonajelocalizacion(characte.location.url)"> <b>Última locación: </b> {{characte.location.name}}
                        </h6>
                        <h6>
                            <a href="{{characte.episode[characte.episode.length-1]}}" target="_blank"></a>
                            <b>Último episodio donde apareció:</b> {{characte.episode[characte.episode.length-1] | shortDomain }}
                        </h6>
                        <b> Marcar como favorito:</b> <input [checked]="verificarfavorito(characte.id)" (click)="verificarfavorito(characte.id) ? eliminarfavorito(characte.id) : agregarfavorito(characte.id)" type="checkbox" name="" id="{{characte.id}}">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-3 mx-auto">

    <div class=" col-12 text-start ps-0">
        <a href="/ ">
            Atras
        </a>
    </div>
</div>