.quitarultimacoma {
    .punto {
        display: none;
    }
    >span:last-child {
        .coma {
            display: none;
        }
        .punto {
            display: unset;
        }
    }
}