<?php
$toolbar = '
<div class="preheader">
    <img src="assets/logo.png" alt="" class="logo">
    <div class="sub">
        <div class="services">
            <img src="assets/ico-call.png">
            <p>LÍNEA DE TRANSPARENCIA</p>
        </div>
        <div class="services">
            <img src="assets/ico-job.png">
            <p>TRABAJA CON NOSOTROS</p>
        </div>
        <div class="social">
            <img src="assets/face.png">
            <img src="assets/insta.png">
            <img src="assets/you.png">
        </div>
        <div class="services">
            <img src="assets/ico-calc.png">
            <p>CALCULADORA FINANCIERA</p>
        </div>
        <div class="payment-button">
            <button onclick="showEle('submenuPay')">PAGAR</button>
        </div>
        <div class="submenu" id="submenuPay">
            <ul>
                <li>
                    <a>Tu cuota</a>
                </li>
                <li>
                    <a>Separación de tu inmueble</a>
                </li>
                <li>
                    <a>Otros pagos</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>

<br><br><br>


<div class="mobile-nav">
    <img src="assets/menu.png" alt="" class="menu-mobile">
    <img src="assets/logo.png" alt="" class="mobile-logo">
    <div class="payment-button">
        <button onclick="showEle('sideNavContainer-right')">PAGAR</button>
    </div>
</div>


<div class="sideNavContainer" id="mySideNav">
    <div class="sideMenu">
        <div class="cabezote">
            <p>MENÚ</p>
            <img src="assets/close.png" alt="close button" width="16" height="16">
        </div>
        <div class="sideNav">
            <ul>
                <li>
                    <p>CENTRO SUR</p>
                </li>
                <li>
                    <p>PROYECTOS</p>
                    <img src="assets/angledown.png" alt="">
                    <ul>
                        <li>En venta</li>
                    </ul>
                </li>
                <li>
                    <p>ARRENDAMIENTOS</p>
                </li>
                <li>
                    <p>SERVICIOS</p>
                </li>
                <li>
                    <p>SUBSIDIOS</p>
                </li>
                <li>
                    <p>INVIERTE EN COLOMBIA</p>
                </li>
                <li>
                    <p>PLANES PROMOCIONALES</p>
                </li>
                <li>
                    <p>BLOG</p>
                </li>
            </ul>
            <hr>
            <div class="sub">
                <div class="services">
                    <img src="assets/ico-call.png">
                    <p>LÍNEA DE TRANSPARENCIA</p>
                </div>
                <div class="services">
                    <img src="assets/ico-job.png">
                    <p>TRABAJA CON NOSOTROS</p>
                </div>
                <div class="services">
                    <img src="assets/ico-calc.png">
                    <p class="calculator">CALCULADORA FINANCIERA</p>
                </div>
                <div class="social">
                    <img src="assets/face.png">
                    <img src="assets/insta.png">
                    <img src="assets/you.png">
                </div>
            </div>

        </div>
        
    </div>
</div>


<div class="sideNavContainer-right" id="sideNavContainer-right">
    <div class="sideMenu-right">
        <div class="cabezote-right">
            <p>MENÚ</p>
            <img src="assets/close.png" alt="close button" width="16" height="16">
        </div>
        <div class="sideNav-right">
            <ul>
                <li>
                    <p>PAGO CUOTA</p>
                </li>
                <li>
                    <p>PAGO SEPARACIÓN INMUEBLE</p>
                </li>
                <li>
                    <p>OTROS PAGOS</p>
                </li>
                <li><a style="color: #1c3d71" href="https://gateway2.tucompra.com.co/sites/rutainmobiliaria/facturacion.xhtml?idTerminal=1001" target="_blank">ARRENDAMIENTOS</a></li>
            </ul>
        </div>
    </div>
</div>'

<script>

    function showEle(ele) {
        var obj = ele;

        switch (ele) {
            case "submenuPay":
                document.getElementById(ele).classList.toggle('active');
                break

            case "sideNavContainer-right":
                document.getElementById(ele).classList.toggle('active');
                break
        }

    }

</script>